.input-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.user-input {

}

.quiz-image {
  grid-column: 2;
}

.quiz-container {
  display: grid
}

.header {
  text-align: center;
}

.answerButton {
  margin-left: 20px;
}

.subjectButton {
  margin-left: 5px;
  margin-right: 5px;
}
